.bb {
    border: 1px solid red;
}

.main-header {
    width: 400px;
    height: 100px;
    margin: auto;
    //background-color: salmon;
    background: url(../images/pomidor7.png) no-repeat;
    background-position: center;
    background-size: contain;
}

.main-game {
    width: 400px;
    margin: auto;
}

//выбор количества
.quantity {
    display: flex;
    align-items: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.input-quantity {
    width: 50px;
    height: 50px;
    margin-left: 5px;
    margin-right: 10px;
    font-size: 40px;
    text-align: center;
    margin: 0;
}

.button-updown {
    width: 50px;
    height: 50px;
    margin-left: 5px;
    margin-right: 5px;
}

.text-quantity {
    margin-left: 10px;
}

//Имена игроков

.players {
    margin-top: 20px;
    border-top: 1px dashed black;
    border-bottom: 1px dashed black;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
}

.players-textinput {
    margin-top: 5px;
    display: flex;
    align-items: center;
}

.player-hide {
    display: none;
}

.players-text {
    width: 130px;
}

.players-input {
    height: 20px;
    flex-grow: 1;
}

.taskswrapper {
    display: flex;
    padding-top: 10px;
}

.task-item {
    width: 130px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input-item {
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.maintable {
    margin-top: 50px;
}

.table-header {
    transform: rotate(-0.25turn) translate(20px, 0px);
}